version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    allow:
      - dependency-type: 'direct'
    commit-message:
      prefix: 'npm'
    open-pull-requests-limit: 0
