# Run in context of one realm: starts with default realm and disables realms page navigation
# REALM=MNGO
MAINNET_RPC=https://mango.rpcpool.com
DEVNET_RPC=https://mango.devnet.rpcpool.com

DEFAULT_GOVERNANCE_PROGRAM_ID=4T4jPyMxM4fMn71pJQpU3iuQZrf5FnE2MmP71T7PGosm
