# Run in context of one realm: starts with default realm and disables realms page navigation
# REALM=MNGO
MAINNET_RPC=https://mango.rpcpool.com
DEVNET_RPC=https://mango.devnet.rpcpool.com

DEFAULT_GOVERNANCE_PROGRAM_ID=GTesTBiEWE32WHXXE2S4XbZvA5CrEc4xs6ZgRe895dP

NEXT_PUBLIC_API_ENDPOINT=http://localhost:3001/graphql
