.public-DraftEditorPlaceholder-inner {
  color: #d4d4d4;
  font-size: 18px;
  font-weight: 400px;
  line-height: 28px;
}

.public-DraftEditor-content {
  color: #18181b;
  font-size: 18px;
  font-weight: 400px;
  line-height: 28px;
}
