@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */

:root {
  --primary-light: theme('colors.dark-theme.primary.light');
  --primary-dark: theme('colors.dark-theme.primary.dark');
  --secondary-1-light: theme('colors.dark-theme.secondary-1.light');
  --secondary-1-dark: theme('colors.dark-theme.secondary-1.dark');
  --secondary-2-light: theme('colors.dark-theme.secondary-2.light');
  --secondary-2-dark: theme('colors.dark-theme.secondary-2.dark');
  --red: theme('colors.dark-theme.red');
  --green: theme('colors.dark-theme.green');
  --orange: theme('colors.dark-theme.orange');
  --blue: theme('colors.dark-theme.blue');
  --bkg-1: theme('colors.dark-theme.bkg-1');
  --bkg-2: theme('colors.dark-theme.bkg-2');
  --bkg-3: theme('colors.dark-theme.bkg-3');
  --bkg-4: theme('colors.dark-theme.bkg-4');
  --bkg-5: theme('colors.dark-theme.bkg-5');
  --fgd-1: theme('colors.dark-theme.fgd-1');
  --fgd-2: theme('colors.dark-theme.fgd-2');
  --fgd-3: theme('colors.dark-theme.fgd-3');
  --fgd-4: theme('colors.dark-theme.fgd-4');
}

[data-theme='Light'] {
  --primary-light: theme('colors.light-theme.primary.light');
  --primary-dark: theme('colors.light-theme.primary.dark');
  --secondary-1-light: theme('colors.light-theme.secondary-1.light');
  --secondary-1-dark: theme('colors.light-theme.secondary-1.dark');
  --secondary-2-light: theme('colors.light-theme.secondary-2.light');
  --secondary-2-dark: theme('colors.light-theme.secondary-2.dark');
  --red: theme('colors.light-theme.red');
  --green: theme('colors.light-theme.green');
  --orange: theme('colors.light-theme.orange');
  --blue: theme('colors.light-theme.blue');
  --bkg-1: theme('colors.light-theme.bkg-1');
  --bkg-2: theme('colors.light-theme.bkg-2');
  --bkg-3: theme('colors.light-theme.bkg-3');
  --bkg-4: theme('colors.light-theme.bkg-4');
  --bkg-5: theme('colors.light-theme.bkg-4');
  --fgd-1: theme('colors.light-theme.fgd-1');
  --fgd-2: theme('colors.light-theme.fgd-2');
  --fgd-3: theme('colors.light-theme.fgd-3');
  --fgd-4: theme('colors.light-theme.fgd-4');
}

/* base */

* {
  @apply m-0 p-0;
}

body {
  @apply bg-bkg-1 text-fgd-1 text-base font-body tracking-wide;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl mb-2 font-bold;
}

h3 {
  @apply text-lg mb-1 font-bold;
}

h4 {
  @apply text-sm mb-1 font-bold;
}

p {
  @apply break-words leading-normal text-fgd-2 text-sm;
}

tbody {
  @apply border-t border-bkg-4;
}

.hero-text {
  @apply text-2xl font-bold;
}

button {
  @apply tracking-wide;
}

.default-transition {
  @apply transition-all duration-300;
}

.markdown > h1 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > h2 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > p {
  @apply mb-2;
}

.markdown ul {
  @apply mb-4;
}

.markdown a {
  @apply text-fgd-2 transition-all duration-300 underline hover:text-fgd-3 hover:no-underline;
}

.markdown li {
  @apply font-normal mb-2 ml-6 list-disc text-fgd-3;
}

.markdown pre {
  @apply whitespace-pre-wrap;
}

.markdown code {
  @apply block mb-2 text-sm;
}

:placeholder-shown {
  @apply font-body;
}

/* Scrollbars */

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bkg-1);
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--bkg-4);
}

body::-webkit-scrollbar-track {
  background-color: inherit;
}

body::-webkit-scrollbar-corner {
  background-color: var(--bkg-3);
}

.thin-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.thin-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
.thin-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: var(--bkg-4);
}
.thin-scroll::-webkit-scrollbar-thumb:window-inactive {
  background: var(--bkg-4);
}

.pointer {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
