@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */

:root {
  --primary-light: theme('colors.dark-theme.primary.light');
  --primary-dark: theme('colors.dark-theme.primary.dark');
  --secondary-1-light: theme('colors.dark-theme.secondary-1.light');
  --secondary-1-dark: theme('colors.dark-theme.secondary-1.dark');
  --secondary-2-light: theme('colors.dark-theme.secondary-2.light');
  --secondary-2-dark: theme('colors.dark-theme.secondary-2.dark');
  --red: theme('colors.dark-theme.red');
  --green: theme('colors.dark-theme.green');
  --orange: theme('colors.dark-theme.orange');
  --blue: theme('colors.dark-theme.blue');
  --bkg-1: theme('colors.dark-theme.bkg-1');
  --bkg-2: theme('colors.dark-theme.bkg-2');
  --bkg-3: theme('colors.dark-theme.bkg-3');
  --bkg-4: theme('colors.dark-theme.bkg-4');
  --fgd-1: theme('colors.dark-theme.fgd-1');
  --fgd-2: theme('colors.dark-theme.fgd-2');
  --fgd-3: theme('colors.dark-theme.fgd-3');
  --fgd-4: theme('colors.dark-theme.fgd-4');
  --bkg-11: theme('colors.realms-theme.bkg-11');
  --bkg-12: theme('colors.realms-theme.bkg-12');
  --bkg-13: theme('colors.realms-theme.bkg-13');
  --blue: theme('colors.realms-theme.blue');
  --lightblue: theme('colors.realms-theme.lightblue');
  --turquoise: theme('colors.realms-theme.turquoise');
}

[data-theme='Light'] {
  --primary-light: theme('colors.light-theme.primary.light');
  --primary-dark: theme('colors.light-theme.primary.dark');
  --secondary-1-light: theme('colors.light-theme.secondary-1.light');
  --secondary-1-dark: theme('colors.light-theme.secondary-1.dark');
  --secondary-2-light: theme('colors.light-theme.secondary-2.light');
  --secondary-2-dark: theme('colors.light-theme.secondary-2.dark');
  --red: theme('colors.light-theme.red');
  --green: theme('colors.light-theme.green');
  --orange: theme('colors.light-theme.orange');
  --blue: theme('colors.light-theme.blue');
  --bkg-1: theme('colors.light-theme.bkg-1');
  --bkg-2: theme('colors.light-theme.bkg-2');
  --bkg-3: theme('colors.light-theme.bkg-3');
  --bkg-4: theme('colors.light-theme.bkg-4');
  --fgd-1: theme('colors.light-theme.fgd-1');
  --fgd-2: theme('colors.light-theme.fgd-2');
  --fgd-3: theme('colors.light-theme.fgd-3');
  --fgd-4: theme('colors.light-theme.fgd-4');
}

/* base */

* {
  @apply p-0 m-0;
}

body {
  @apply text-base tracking-wide bg-bkg-1 text-fgd-1 font-body;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply mb-2 text-xl font-bold;
}

h3 {
  @apply mb-1 text-lg font-bold;
}

h4 {
  @apply mb-1 text-sm font-bold;
}

.landing-page {
  @apply font-sans font-light;
}

.landing-page h1 {
  @apply font-serif;
  /* font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 110%; */
}

.landing-page h2 {
  @apply font-serif;
  /* font-size: 36px;
  letter-spacing: -0.5px;
  line-height: 110%; */
}

.landing-page h3 {
  @apply font-serif;
  /* font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 110%; */
}

.landing-page h4 {
  @apply font-serif;
  /* font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 110%; */
}

.landing-page h5 {
  @apply font-serif;
  /* font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 110%; */
}

/* .landing-page .text-xs {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 140%;
}

.landing-page .text-sm {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 140%;
}

.landing-page .text-base {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 140%;
} */

p {
  @apply text-sm leading-normal break-words text-fgd-2;
}

tbody {
  @apply border-t border-bkg-4;
}

.hero-text {
  @apply text-2xl font-bold;
}

button {
  @apply tracking-wide;
}

.default-transition {
  @apply transition-all duration-300;
}

.markdown > h1 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > h2 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > p {
  @apply mb-2;
}

.markdown ul {
  @apply mb-4;
}

.markdown a {
  @apply underline transition-all duration-300 text-fgd-2 hover:text-fgd-3 hover:no-underline;
}

.markdown li {
  @apply mb-2 ml-6 font-normal list-disc text-fgd-3;
}

.markdown pre {
  @apply whitespace-pre-wrap;
}

.markdown code {
  @apply block mb-2 text-sm;
}

:placeholder-shown {
  @apply font-body;
}

/* Scrollbars */

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bkg-1);
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--bkg-4);
}

body::-webkit-scrollbar-track {
  background-color: inherit;
}

body::-webkit-scrollbar-corner {
  background-color: var(--bkg-3);
}

.thin-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.thin-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
.thin-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: var(--bkg-4);
}
.thin-scroll::-webkit-scrollbar-thumb:window-inactive {
  background: var(--bkg-4);
}

.pointer {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#glow {
  width: 285px;
  height: 151px;
  background: #88d8ee;
  mix-blend-mode: hard-light;
  filter: blur(270px);
}

.transition-to-gradient-background::before,
.transition-to-white-background::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  border-radius: 999px;
}

.transition-to-gradient-background::before {
  background: linear-gradient(
    90.65deg,
    #00c2ff 0.62%,
    #00e4ff 50.08%,
    #87f2ff 99.55%
  );
}

.transition-to-white-background::before {
  background-image: linear-gradient(to bottom, white, white);
}

.transition-to-gradient-background:hover::before,
.transition-to-white-background:hover::before {
  opacity: 1;
}

.transition-to-gradient-background:disabled:hover::before,
.transition-to-white-background:disabled:hover::before {
  opacity: 0;
}

.change-image-on-hover:hover .starting-image {
  display: none;
}

.change-image-on-hover .hover-image {
  display: none;
}

.change-image-on-hover:hover .hover-image {
  display: block;
}

.step-indicator__with-gradient {
  background: linear-gradient(to right, #00c2ff 0%, #00e4ff 50%, #87f2ff 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  width: fit-content;
}

.border-gradient {
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.border-gradient.black-fill {
  background-image: linear-gradient(#292833, #292833),
    linear-gradient(93deg, #00c2ff 3%, #00e4ff 50%, #87f2ff 98%);
}
.border-gradient.white-fill {
  background-image: linear-gradient(white, white),
    linear-gradient(93deg, #00c2ff 3%, #00e4ff 50%, #87f2ff 98%);
}

/* .input-range-with-gradient {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  margin: 0 223px 0 363px;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: solid 5px rgba(255, 255, 255, 0.08);
  background-color: #fff;
} */

input[type="range"].with-gradient {
  -webkit-appearance: none;
  height: 16px;
  background: #1f1f20;
  border-radius: 5px;
  background-image: linear-gradient(to right, #00c2ff 0%, #00e4ff 50%, #87f2ff 100%);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"].with-gradient::-moz-range-thumb {
  -webkit-appearance: none;
  cursor: ew-resize;
  width: 32px;
  height: 32px;
  flex-grow: 0;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: solid 5px rgba(255, 255, 255, 0.08);
  background-color: #fff;
  transition: background .3s ease-in-out;
}
input[type="range"].with-gradient::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: ew-resize;
  width: 32px;
  height: 32px;
  flex-grow: 0;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: solid 5px rgba(255, 255, 255, 0.08);
  background-color: #fff;
  transition: background .3s ease-in-out;
}
input[type=range].with-gradient::-moz-range-track,
input[type=range].with-gradient::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
