@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */

:root {
  --primary-light: theme('colors.dark-theme.primary.light');
  --primary-dark: theme('colors.dark-theme.primary.dark');
  --secondary-1-light: theme('colors.dark-theme.secondary-1.light');
  --secondary-1-dark: theme('colors.dark-theme.secondary-1.dark');
  --secondary-2-light: theme('colors.dark-theme.secondary-2.light');
  --secondary-2-dark: theme('colors.dark-theme.secondary-2.dark');
  --red: theme('colors.dark-theme.red');
  --green: theme('colors.dark-theme.green');
  --orange: theme('colors.dark-theme.orange');
  --blue: theme('colors.dark-theme.blue');
  --bkg-1: theme('colors.dark-theme.bkg-1');
  --bkg-2: theme('colors.dark-theme.bkg-2');
  --bkg-3: theme('colors.dark-theme.bkg-3');
  --bkg-4: theme('colors.dark-theme.bkg-4');
  --bkg-5: theme('colors.dark-theme.bkg-5');
  --fgd-1: theme('colors.dark-theme.fgd-1');
  --fgd-2: theme('colors.dark-theme.fgd-2');
  --fgd-3: theme('colors.dark-theme.fgd-3');
  --fgd-4: theme('colors.dark-theme.fgd-4');
  --discord: theme('colors.dark-theme.discord');
}

[data-theme='Light'] {
  --primary-light: theme('colors.light-theme.primary.light');
  --primary-dark: theme('colors.light-theme.primary.dark');
  --secondary-1-light: theme('colors.light-theme.secondary-1.light');
  --secondary-1-dark: theme('colors.light-theme.secondary-1.dark');
  --secondary-2-light: theme('colors.light-theme.secondary-2.light');
  --secondary-2-dark: theme('colors.light-theme.secondary-2.dark');
  --red: theme('colors.light-theme.red');
  --green: theme('colors.light-theme.green');
  --orange: theme('colors.light-theme.orange');
  --blue: theme('colors.light-theme.blue');
  --bkg-1: theme('colors.light-theme.bkg-1');
  --bkg-2: theme('colors.light-theme.bkg-2');
  --bkg-3: theme('colors.light-theme.bkg-3');
  --bkg-4: theme('colors.light-theme.bkg-4');
  --bkg-5: theme('colors.light-theme.bkg-4');
  --fgd-1: theme('colors.light-theme.fgd-1');
  --fgd-2: theme('colors.light-theme.fgd-2');
  --fgd-3: theme('colors.light-theme.fgd-3');
  --fgd-4: theme('colors.light-theme.fgd-4');
  --discord: theme('colors.light-theme.discord');
}

/* base */

* {
  @apply p-0 m-0;
}

body {
  @apply text-base tracking-wide font-body;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply mb-2 text-xl font-bold;
}

h3 {
  @apply mb-1 text-lg font-bold;
}

h4 {
  @apply mb-1 text-sm font-bold;
}

p {
  @apply text-sm leading-normal break-words text-fgd-2;
}

tbody {
  @apply border-t border-bkg-4;
}

.hero-text {
  @apply text-2xl font-bold;
}

button {
  @apply tracking-wide;
}

.default-transition {
  @apply transition-all duration-300;
}

.markdown > h1 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > h2 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > p {
  @apply mb-2 text-fgd-1;
}

.markdown ul {
  @apply mb-4;
}

.markdown a {
  @apply underline break-all transition-all duration-300 text-fgd-1 hover:text-fgd-2 hover:no-underline;
}

.markdown li {
  @apply mb-2 ml-6 font-normal list-disc text-fgd-2;
}

.markdown pre {
  @apply whitespace-pre-wrap;
}

.markdown code {
  @apply block mb-2 text-sm;
}

:placeholder-shown {
  @apply font-body;
}

/* Scrollbars */

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bkg-1);
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--bkg-4);
}

body::-webkit-scrollbar-track {
  background-color: inherit;
}

body::-webkit-scrollbar-corner {
  background-color: var(--bkg-3);
}

.thin-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.thin-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
.thin-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: var(--bkg-4);
}
.thin-scroll::-webkit-scrollbar-thumb:window-inactive {
  background: var(--bkg-4);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.pointer {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.border-brand-gradient {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    93deg,
    #00c2ff 3%,
    #00e4ff 50%,
    #87f2ff 98%
  );
}

.bg-brand-gradient {
  @apply bg-gradient-to-r from-[#00C2FF] via-[#00E4FF] to-[#87F2FF];
}

.transition-from-gradient-background::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s linear;
  border-radius: 999px;
  @apply border bg-gradient-to-r from-fgd-1 to-fgd-1;
}

.transition-from-gradient-background:hover::before {
  opacity: 1;
}

.transition-from-gradient-background:active::before {
  opacity: 1;
  @apply border-fgd-3 bg-gradient-to-r from-fgd-3 to-fgd-3;
}

.transition-from-gradient-background:disabled {
  background-image: none;
}

.transition-from-gradient-background:disabled::before {
  opacity: 1;
  @apply border border-fgd-4 bg-gradient-to-r from-fgd-4 to-fgd-4;
}

.border-gradient {
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.border-gradient.transparent-fill {
  background-image: linear-gradient(var(--bkg-2), var(--bkg-2)),
    linear-gradient(93deg, #00c2ff 3%, #00e4ff 50%, #87f2ff 98%);
}

input[type='range'].with-gradient {
  -webkit-appearance: none;
  height: 16px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #00c2ff 0%,
    #00e4ff 50%,
    #87f2ff 100%
  );
  background-size: 50% 100%;
  background-repeat: no-repeat;
  @apply bg-bkg-3;
}

input[type='range'].with-gradient::-moz-range-thumb {
  -webkit-appearance: none;
  cursor: ew-resize;
  width: 32px;
  height: 32px;
  flex-grow: 0;
  border-radius: 25px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
  background-color: #fff;
  transition: background 0.3s ease-in-out;
}

input[type='range'].with-gradient:disabled::-moz-range-thumb {
  background-color: #1f1f20;
}

input[type='range'].with-gradient:disabled::-webkit-slider-thumb {
  background-color: #1f1f20;
}

input[type='range'].with-gradient::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: ew-resize;
  width: 32px;
  height: 32px;
  flex-grow: 0;
  border-radius: 25px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
  background-color: #fff;
  transition: background 0.3s ease-in-out;
}
input[type='range'].with-gradient::-moz-range-track,
input[type='range'].with-gradient::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* break-words is depricated a tailwind and CSS class,
advised to use overflow-wrap instead - see documentation below
https://developer.mozilla.org/en-US/docs/Web/CSS/word-break#values */
.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.gatewayButton > span {
  @apply !text-bkg-2 !pl-0 !text-sm;
}

.react-grid-item.react-grid-placeholder {
  background: none !important;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-resizable-handle::after,
.react-resizable-handle-se::after {
  border-color: white !important;
}
