@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */

:root {
  --primary-light: theme('colors.sierra-theme.primary.light');
  --primary-dark: theme('colors.sierra-theme.primary.dark');
  --secondary-1: theme('colors.sierra-theme["secondary-1"].light');
  --secondary-1-dark: theme('colors.sierra-theme["secondary-1"].dark');
  --secondary-2: theme('colors.sierra-theme["secondary-2"].light');
  --secondary-2-dark: theme('colors.sierra-theme["secondary-2"].dark');
  --red: theme('colors.sierra-theme.red');
  --green: theme('colors.sierra-theme.green');
  --orange: theme('colors.sierra-theme.orange');
  --blue: theme('colors.sierra-theme.blue');
  --bkg-1: theme('colors.sierra-theme["bkg-1"]');
  --bkg-2: theme('colors.sierra-theme["bkg-2"]');
  --bkg-3: theme('colors.sierra-theme["bkg-3"]');
  --bkg-4: theme('colors.sierra-theme["bkg-4"]');
  --fgd-1: theme('colors.sierra-theme["fgd-1"]');
  --fgd-2: theme('colors.sierra-theme["fgd-2"]');
  --fgd-3: theme('colors.sierra-theme["fgd-3"]');
  --fgd-4: theme('colors.sierra-theme["fgd-4"]');
}

/* base */

* {
  @apply m-0 p-0;
}

body {
  @apply bg-bkg-1 text-fgd-1 text-base font-body tracking-wide;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl mb-2 font-bold;
}

h3 {
  @apply text-lg mb-1 font-bold;
}

h4 {
  @apply text-sm mb-1 font-bold;
}

p {
  @apply break-words leading-normal text-fgd-2 text-sm;
}

.hero-text {
  @apply text-2xl font-bold;
}

button {
  @apply tracking-wide;
}

.default-transition {
  @apply transition-all duration-300;
}

.markdown > h1 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > h2 {
  @apply mb-2 text-lg text-fgd-1;
}

.markdown > p {
  @apply mb-2;
}

.markdown ul {
  @apply mb-4;
}

.markdown li {
  @apply font-normal mb-2 ml-6 list-disc text-fgd-3;
}

.markdown pre {
  @apply whitespace-pre-wrap;
}

.markdown code {
  @apply block mb-2 text-sm;
}

:placeholder-shown {
  @apply font-body;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: var(--bkg-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bkg-1);
  border-radius: 100vh;
  border: 3px solid var(--bkg-2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bkg-3);
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
